.green-panel {
  position: absolute;
  height: 22.3%;

  top: 1.9%;
  left: 1.75%;
}

.blue-panel {
  position: absolute;
  height: 22.3%;

  top: 64.5%;
  left: 1.75%;
}

.brown-panel {
  position: absolute;
  height: 22.3%;

  top: 1.9%;
  left: 77%;
}

.grey-panel {
  position: absolute;
  height: 22.3%;

  top: 64.5%;
  left: 77%;
}