.green-panel {
  position: absolute;
  height: 23.5%;

  top: 5.4%;
  left: 0.75%;
}

.blue-panel {
  position: absolute;
  height: 23.5%;

  top: 71%;
  left: 0.75%;
}

.brown-panel {
  position: absolute;
  height: 23.5%;

  top: 5.4%;
  left: 77%;
}

.grey-panel {
  position: absolute;
  height: 23.5%;

  top: 71%;
  left: 77%;
}